<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anubis.module_lottie">

    <application
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:icon="@drawable/animation"
        android:label="@string/module_name"
        android:roundIcon="@drawable/animation"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
