<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anubis.module_dialog" >
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service android:name="com.anubis.module_dialog.eForegroundService" />
    </application>
</manifest>
