<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anubis.module_tts"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- 集成时请添加下列权限 -->
    <!-- 测试完成后，您自己的appId appKey secretKeyTTSActivityvity 和 MiniActivity 中修改 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--Bugly-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application android:theme="@style/AppTheme">

        <!-- 配置APP ID -->
        <!--<meta-data-->
            <!--android:name="BUGLY_APPID"-->
            <!--android:value="ae625cc87e"/>-->
        <!--&lt;!&ndash; 配置Bugly调试模式（true或者false）&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="BUGLY_ENABLE_DEBUG"-->
            <!--android:value="true"/>-->
        <activity android:name=".ttsTest"/>
    </application>

</manifest>


