<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anubis.module_cardotg">
    //身份证阅读器
    <uses-feature android:name="android.hardware.usb.host"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application>
        <activity android:name=".eCardOTG">
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"/>
        </activity>
    </application>

</manifest>
