<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.anubis.module_tensorflow"
          android:appComponentFactory="whateverString"
    >

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/module_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection"
        >
        <activity
            android:name=".detection.eDetectorGUI"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
