<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.anubis.module_tensorflow"
          android:appComponentFactory="whateverString"
    >

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application>
<!--        android:allowBackup="true"-->
<!--        android:icon="@drawable/logo"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@drawable/logo"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/AppTheme.ObjectDetection"-->
<!--        >-->
<!--        <activity-->
<!--            android:name=".detection.eDetectorGUI"-->
<!--            android:screenOrientation="portrait">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>
</manifest>
